/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input, span {
	font-size: 16px;
}

h1,h2,p{
	margin: auto;
	float: none;
}
h1, h2{
		text-align: center;
}

.grey{
	background-color: lightgrey;
}
.white{
	background-color: white;
}
.form-group{
	padding: 0px 20px;
}
select{
	padding: 0px 30px;
}
.form-inline{
	margin-top: 100px;
	text-align: center;
	float: none;
}
