/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input, span {
	font-size: 16px;
}

h1,h2,p{
	margin: auto;
	float: none;
}
h1, h2{
		text-align: center;
}

.grey{
	background-color: lightgrey;
}
.white{
	background-color: white;
}
